.container {
  padding: 0 5%;
  width: 100%;
  margin: 0;
}
.main {
  padding-top: 60px;
  height: 100vh;
  font-family: "Poppins";
  flex-direction: column;
  position: relative;
  background: url("https://i.ibb.co/vXqDmnh/background.jpg") no-repeat center
    center/cover;
}
.main::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 0.1;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;
}
.logo {
  position: relative;
  z-index: 2;
  height: 80px;
  padding-left: 30px;
  display: flex;
  align-items: center;
}
.content {
  position: relative;
  z-index: 2;
  width: 100%;
  margin: auto;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.brands {
  margin-top: 20px;
  display: flex;
  align-items: center;
  padding: 0px 20px;
}
.brands1 {
  background: #111;
  padding: 20px;
  height: 90px;
  max-width: 100%;
  display: grid;
  place-items: center;
  border-radius: 16px;
}
.discover {
  background-image: linear-gradient(150deg, #7a28ff 30%, #3d7aff 70%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
